extends ../layout

block content
    .row
        .col-sm-6
            h1 Here we Show our Users
        .col-sm-6
            a(href="./users/sign",class="btn btn-info float-right") Add a New User
            a(href="./users/signin",class="btn btn-success float-right") Log In
    table(class="table")
        thead
            tr
                th Username
                th Email
        tbody
            each user in usershow
                tr
                    td=user.name
                    td=user.mail