extends layout

block content
  h1 Home Page of our First Pug Application.
  p Here you can find our Main Resources. 
  h2 Lets now add up some data from the Database 
  p Thus lets use and add Mongoose in our Application. 
